<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{%-5p [%d] %C.%M() -- %m%n}" />
    </Console>
    <File name="LOGFILE" fileName="run.log" append="false">
      <PatternLayout pattern="%-5p [%d] %C.%M() -- %m%n" />
    </File>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="CONSOLE" level="INFO" />
      <AppenderRef ref="LOGFILE" level="DEBUG" />
    </Root>
  </Loggers>
</Configuration>